<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="Kenua">
   <script src="https://kit.fontawesome.com/e80ec1ef51.js" crossorigin="anonymous"></script>
   <title> <%= htmlWebpackPlugin.options.title %> </title>
</head>
<body>
   <div class="top-bar bg-primary pb-1"></div>
   <main id="content"></main>
</body>
</html>