@use 'sass:map';
@use '../custom' as * ;

.sidebar {
   background-color: $primary;

   &__item {
      text-align: left;
      font-family: 'Quicksand', sans-serif;
      background-color: #00000000;
      color: $white;
      padding: .6rem .4rem;
      border: none;
      width: 100%;
      display: block;

      i {
         display: inline-block;
         margin-right: map.get($spacers, 2);
      }

      .fa-circle {
         font-size: .5rem;
         vertical-align: middle;
      }
   }

   &__item--flex {
      display: flex;
      justify-content: space-between;
   }

   &__item--hover {
      transition: background-color 250ms ease-in-out;

      &:hover {
         background-color: $secondary;
      }
   }

   &__item--selected {
      background-color: $secondary;
   }

   #new-folder-form {
      display: none;
   }

   &__input {
      background-color: #00000000;
      border: none;
      width: 100%;
      padding-left: map.get($spacers, 1);
   }

   &__create-button {
      text-align: center;
      border-top: 1px solid $secondary;
      border-bottom: 1px solid $secondary;
   }

   &__button-container {
      min-width: 60px;
      display: flex;
      justify-content: space-between;
   }

   &__button--checkmark {
      text-indent: -9999px;
      width: 1.2rem;
      height: 1.2rem;
      border: 1px solid $primary;
      margin-right: .2rem;
   }

   &__anchor {
      text-decoration: none;
      padding-left: 2.5rem;

      &:hover {
         color: $white;
      }
   }

   @include media-breakpoint-up(lg) {
      width: 30%;
      height: 100%;
      overflow: auto;
      position: fixed;
      top: 0;
      left: 0;
   }
}