@use 'sass:map';
@use '../custom' as * ;

.todo {
   display: none;

   &__reminder {
      background-color: $secondary;
      padding: map.get($spacers, 1);
      border-radius: 6px;
   }

   &__button {
      background-color: #00000000;
      color: $primary;
      font-size: map.get($font-sizes, 4);
      border: none;
      transition: transform 250ms ease-in-out;

      &:hover {
         color: $secondary;
         transform: scale(1.3);
      }
   }

   &__button--checkmark {
      font-size: map.get($font-sizes, 1);
   }

   @include media-breakpoint-up(lg) {
      width: 70%;
      height: 100vh;
      margin-left: auto;
      overflow: auto;
   }
}